<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.sci.labtrack">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PC.PcInfo">

        </activity>
        <activity
            android:name=".Lab.AddingAndEditingLab"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".PC.PcAddAndEdit"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".PC.PcList"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Lab.LabsList"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".User.RegisterAct"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".ServicesAndTools.NotificationService" />
    </application>

</manifest>